*{
    margin: 0;
    padding: 0;
}

body{
  background: #FCD5CE;
}

// Lato Font Import
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Variables
$color-primary: #d68787;
$color-primary-light: #fcd5ce;
$color-primary-dark: #7c5e7c;
$color-secondary-dark: #ff8870;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-black: #000;

// Font Sizes
$font-size-default: 1.6rem;

// Border Radius
$border-radius-small: 0.2rem;
$border-radius-medium: 0.3rem;
$border-radius-large: 5rem;

// Mixins
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin gradient($color-1, $color-2) {
	background-image: linear-gradient(to right bottom, $color-1, $color-2);
}

// Base
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// 1rem = 10px
	font-size: 62.5%;
}

// Typography
body {
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark-2;
	padding: 3rem;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		margin-right: -3.5rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
		margin-right: -1.75rem;

		animation: moveInRight 1s ease-out;
	}
}

// Buttons
.btn {
	&,
	&:link,
	&:visited {
		position: relative;
		display: inline-block;
		padding: 1.5rem 4rem;
		text-decoration: none;
		text-transform: uppercase;
		font-size: $font-size-default;
		border-radius: $border-radius-large;
		backface-visibility: hidden;
		z-index: 0;

		transition: all 0.2s;

		// Changes for <button>
		cursor: pointer;
	}

	&::after {
		content: '';
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: $border-radius-large;
		z-index: -1;

		transition: all 0.4s;
	}

	&:hover,
	&:focus {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		// Changes for <button> on :focus
		outline: none;

		&::after {
			opacity: 0;
			transform: scaleX(1.4) scaleY(1.6);
		}
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark-2;

		&::after {
			background-color: $color-white;
		}
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s backwards;
	}
}

// Header Animations
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// Navigation
.navigation {
	// Hidden Checkbox
	&__checkbox {
		display: none;

		// Navigation Functionality
		&:checked ~ .navigation__background {
			transform: scale(100);
		}

		&:checked ~ .navigation__nav {
			transform: translateX(0);
			visibility: initial;
			opacity: 1;
		}
	}

	// Input Label -> Styled as a Button
	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		width: 7rem;
		height: 7rem;
		cursor: pointer;
		z-index: 12;

		// Center the Icon
		text-align: center;
	}

	// Background Image / Gradient -> Hidden Behind a Label
	&__background {
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		background-image: radial-gradient(
			$color-primary-light,
			$color-primary-dark
		);
		z-index: 10;

		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	}

	// Menu Container
	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 11;

		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;

		transition: opacity 0.8s ease-in,
			transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	// Unordered List
	&__list {
		@include absolute-center;
		text-align: center;
		list-style: none;
	}

	// List Items with Automatic Counter
	&__item {
		margin: 1rem;
		counter-increment: list;
	}

	// Item Links
	&__link {
		// Automatic Counter
		&::before {
			content: '0' counters(list, '');
			padding-right: 1.2rem;
		}

		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 49.9%,
				$color-white 50%
			);
			background-size: 227%;

			transition: all 0.4s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}

// Icon Design
	&__icon {
		display: inline-block;
		position: relative;
		width: 3rem;
		height: 0.5rem;
		top: 37%;

		transition: transform 0.25s ease-in-out;

		&-span {
			position: absolute;
			height: 0.5rem;
			width: 50%;
			background: $color-grey-dark-2;

			transition: all 0.5s ease-in;

			&:nth-child(even) {
				left: 50%;
				border-radius: 0 0.9rem 0.9rem 0;
			}
			&:nth-child(odd) {
				left: 0;
				border-radius: 0.9rem 0 0 0.9rem;
			}

			&:nth-child(1),
			&:nth-child(2) {
				transform: translateY(-1rem);
			}
			&:nth-child(5),
			&:nth-child(6) {
				transform: translateY(1rem);
			}
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(1),
		&:nth-child(6) {
			transform: rotate(45deg);
		}
		&:nth-child(2),
		&:nth-child(5) {
			transform: rotate(-45deg);
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(2),
		&:nth-child(6) {
			transform-origin: left;
		}
		&:nth-child(1),
		&:nth-child(5) {
			transform-origin: right;
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(3) {
			left: -50%;
			opacity: 0;
		}
		&:nth-child(4) {
			left: 100%;
			opacity: 0;
		}
	}

	&__button:hover &__icon-span {
		&:nth-child(3) {
			transform: translateX(-0.3rem) scale(1.1);
		}
		&:nth-child(4) {
			transform: translateX(0.3rem) scale(1.1);
		}
	}

	&__checkbox:checked + &__button:hover &__icon {
		transform: rotate(180deg);
	}
}

// Header
.header {
  @include gradient($color-primary-light, $color-primary-dark);
	height: 95vh;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.container-maria{
  margin-left: 15%;
  margin-top: 6%;
  width: 700px;
}

.container-maria h1{
  font-size: 6em;
  color: #434343;
  font-weight: 500;
  border-bottom: 1px solid #a9a9a9;
}

.container-maria p{
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.container-maria a{
	font-size: 2em;
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 0.5em;
	cursor: pointer;
	list-style: none;
	text-decoration: none;
	color: #434343;
	font-weight: 300;
}

.container-maria a:hover{
	transition: all 0.5s ease-in-out;
	background: #dab2ab;
}

.footer1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 18%;
}

.footer1 p{
	font-size: large;
}

.redes img{
	width: 35px;
}

.quiensoy{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 5%;
}

.quiensoy-container h2{ 
	font-size: 5em;
	border-bottom: 1px solid #a9a9a9;
	width: 270px;
	color: #434343;
}

.quiensoy img{
	width: 550px;
	border: 1px solid rgb(255, 185, 185);
}

.quiensoy-container p{
	width: 500px;
	font-size: 2em;
	margin-top: 20px;
}

@keyframes tonext {
	75% {
	  left: 0;
	}
	95% {
	  left: 100%;
	}
	98% {
	  left: 100%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes tostart {
	75% {
	  left: 0;
	}
	95% {
	  left: -300%;
	}
	98% {
	  left: -300%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes snap {
	96% {
	  scroll-snap-align: center;
	}
	97% {
	  scroll-snap-align: none;
	}
	99% {
	  scroll-snap-align: none;
	}
	100% {
	  scroll-snap-align: center;
	}
  }
  
  * {
	box-sizing: border-box;
	scrollbar-color: transparent transparent; /* thumb and track color */
	scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
	width: 0;
  }
  
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
  }
  
  * {
	-ms-overflow-style: none;
  }
  
  ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
  }

  .carrusel-container{
	width: 50%;
	margin: 15% auto;
  }
  
  .carousel {
	position: relative;
	padding-top: 75%;
	filter: drop-shadow(0 0 10px #0003);
	perspective: 100px;
  }
  
  .carousel__viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: scroll;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	counter-increment: item;
  }
  
  
  .carousel__slide:before {
	content: counter(item);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-40%,70px);
	color: #fff;
	font-size: 2em;
  }
  
  .carousel__snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
  }
  
  @media (hover: hover) {
	.carousel__snapper {
	  animation-name: tonext, snap;
	  animation-timing-function: ease;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
	}
  
	.carousel__slide:last-child .carousel__snapper {
	  animation-name: tostart, snap;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.carousel__snapper {
	  animation-name: none;
	}
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
	animation-name: none;
  }
  
  .carousel__navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
	display: inline-block;
  }
  
  .carousel__navigation-button {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #333;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
	position: absolute;
	top: 0;
	margin-top: 37.5%;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
	left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
	right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
	content: '';
	z-index: 1;
	background-color: #333;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	pointer-events: none;
  }
  
  .carousel::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

.estudios{
	display: flex;
	justify-content: center;
}

.estudios h2{ 
	font-size: 5em;
	border-bottom: 1px solid #a9a9a9;
	width: 500px;
	color: #434343;
}

.estudios ul li{
	width: 59em;
	font-size: 2em;
	margin-top: 20px;
}

.contact-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 50px auto;
}

.contact-container img{
	width: 600px;
}

.contacto h2{
	color: #434343;
	font-size: 5em;
	text-align: right;
}

.linea{
	border-bottom: 1px solid #a9a9a9;
	width: 300px;
	text-align: right;
	float: right;
}

.contacto p{
	font-size: 2em;
	text-align: right;
	max-width: 600px;
	padding-top: 10px;
}

.container-ubicacion{
	border: 3px solid black;
	margin: 0 auto;
	background: #CDB4DB;
	margin-top: 200px;
	width: 1300px;
	border-radius: 15px;
}

.container-ubicacion h3{
	padding: 50px 0px 0px 120px;
	font-size: 4em;
	color: #434343;
	width: 400px;
}

.ubicacion-imagen{
	align-items: center;
	display: block;
	text-align: center;
	margin-bottom: 50px;
	
}

.col-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.col-2{
	display: flex;
}

.col-2 li{
	color: #434343;
	font-size: 2.3em;
	font-weight: bold;
	padding: 10px;
	align-items: center;
	display: flex;
}

.col-2 img{
	margin-right: 20px;
	width: 30px;
}

.container-form{
	border: 3px solid black;
	margin: 0 auto;
	background: #CDB4DB;
	margin-top: 200px;
	width: 1300px;
	border-radius: 15px;
}

.container-form h3{
	padding: 50px 0px 0px 120px;
	font-size: 4em;
	color: #434343;
	width: 400px;
	text-align: center;
}