*{
    margin: 0;
    padding: 0;
}

.index{
	background-color: #FBE1F8;
}

.sobremi{
	background-color: #fcd5ce;
}

.contact{
	background: #F3E1DD;
}

// Lato Font Import
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Variables
$color-primary: #d68787;
$color-primary-light: #fcd5ce;
$color-primary-dark: #7c5e7c;
$color-secondary-dark: #ff8870;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-black: #000;

// Font Sizes
$font-size-default: 1.6rem;

// Border Radius
$border-radius-small: 0.2rem;
$border-radius-medium: 0.3rem;
$border-radius-large: 5rem;

// Mixins
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin gradient($color-1, $color-2) {
	background-image: linear-gradient(to right bottom, $color-1, $color-2);
}

// Base
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// 1rem = 10px
	font-size: 55.5%;
}

// Typography
body {
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark-2;
	padding: 3rem;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		margin-right: -3.5rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
		margin-right: -1.75rem;

		animation: moveInRight 1s ease-out;
	}
}

// Buttons
.btn {
	&,
	&:link,
	&:visited {
		position: relative;
		display: inline-block;
		padding: 1.5rem 4rem;
		text-decoration: none;
		text-transform: uppercase;
		font-size: $font-size-default;
		border-radius: $border-radius-large;
		backface-visibility: hidden;
		z-index: 0;

		transition: all 0.2s;

		// Changes for <button>
		cursor: pointer;
	}

	&::after {
		content: '';
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: $border-radius-large;
		z-index: -1;

		transition: all 0.4s;
	}

	&:hover,
	&:focus {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		// Changes for <button> on :focus
		outline: none;

		&::after {
			opacity: 0;
			transform: scaleX(1.4) scaleY(1.6);
		}
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark-2;

		&::after {
			background-color: $color-white;
		}
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s backwards;
	}
}

// Header Animations
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// Navigation
.navigation {
	// Hidden Checkbox
	&__checkbox {
		display: none;

		// Navigation Functionality
		&:checked ~ .navigation__background {
			transform: scale(100);
		}

		&:checked ~ .navigation__nav {
			transform: translateX(0);
			visibility: initial;
			opacity: 1;
		}
	}

	// Input Label -> Styled as a Button
	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		width: 7rem;
		height: 7rem;
		cursor: pointer;
		z-index: 12;

		// Center the Icon
		text-align: center;
	}

	// Background Image / Gradient -> Hidden Behind a Label
	&__background {
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		background-image: radial-gradient(
			$color-primary-light,
			$color-primary-dark
		);
		z-index: 10;

		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	}

	// Menu Container
	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 11;

		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;

		transition: opacity 0.8s ease-in,
			transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	// Unordered List
	&__list {
		@include absolute-center;
		text-align: center;
		list-style: none;
	}

	// List Items with Automatic Counter
	&__item {
		margin: 1rem;
		counter-increment: list;
	}

	// Item Links
	&__link {
		// Automatic Counter
		&::before {
			content: '0' counters(list, '');
			padding-right: 1.2rem;
		}

		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 49.9%,
				$color-white 50%
			);
			background-size: 227%;

			transition: all 0.4s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}

// Icon Design
	&__icon {
		display: inline-block;
		position: relative;
		width: 3rem;
		height: 0.5rem;
		top: 37%;

		transition: transform 0.25s ease-in-out;

		&-span {
			position: absolute;
			height: 0.5rem;
			width: 50%;
			background: $color-grey-dark-2;

			transition: all 0.5s ease-in;

			&:nth-child(even) {
				left: 50%;
				border-radius: 0 0.9rem 0.9rem 0;
			}
			&:nth-child(odd) {
				left: 0;
				border-radius: 0.9rem 0 0 0.9rem;
			}

			&:nth-child(1),
			&:nth-child(2) {
				transform: translateY(-1rem);
			}
			&:nth-child(5),
			&:nth-child(6) {
				transform: translateY(1rem);
			}
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(1),
		&:nth-child(6) {
			transform: rotate(45deg);
		}
		&:nth-child(2),
		&:nth-child(5) {
			transform: rotate(-45deg);
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(2),
		&:nth-child(6) {
			transform-origin: left;
		}
		&:nth-child(1),
		&:nth-child(5) {
			transform-origin: right;
		}
	}

	&__checkbox:checked + &__button &__icon-span {
		&:nth-child(3) {
			left: -50%;
			opacity: 0;
		}
		&:nth-child(4) {
			left: 100%;
			opacity: 0;
		}
	}

	&__button:hover &__icon-span {
		&:nth-child(3) {
			transform: translateX(-0.3rem) scale(1.1);
		}
		&:nth-child(4) {
			transform: translateX(0.3rem) scale(1.1);
		}
	}

	&__checkbox:checked + &__button:hover &__icon {
		transform: rotate(180deg);
	}
}

// Header
.header {
  @include gradient($color-primary-light, $color-primary-dark);
	height: 95vh;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

}


.container-maria{
  margin-left: 15%;
  margin-top: 6%;
  width: 80%;
}

.container-maria h1{
  font-size: 4em;
  color: #434343;
  font-weight: 500;
  border-bottom: 1px solid #a9a9a9;
  max-width: 60%;
}

.container-maria p{
  font-size: 2em;
  margin-bottom: 0.5em;
  max-width: 60%;
}

.container-maria a{
	font-size: 2em;
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 0.5em;
	cursor: pointer;
	list-style: none;
	text-decoration: none;
	color: #434343;
	font-weight: 300;
}

.container-maria a:hover{
	transition: all 0.5s ease-in-out;
	background: #dab2ab;
}

.footer1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 18%;
}

.footer1 p{
	font-size: large;
}

.redes img{
	width: 35px;
}

.quiensoy{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 5%;
}

.quiensoy-container h2{ 
	font-size: 5em;
	border-bottom: 1px solid #a9a9a9;
	color: #434343;
}

.quiensoy img{
	width: 550px;
	border: 1px solid rgb(255, 185, 185);
}

.quiensoy-container p{
	width: 500px;
	font-size: 2em;
	margin-top: 20px;
}

.estudios{
	display: flex;
	justify-content: center;
}

.estudios h2{ 
	font-size: 5em;
	border-bottom: 1px solid #a9a9a9;
	color: #434343;
	margin-top: 150px;
}

.te-propongo{
	text-align: center;
	font-size: 5em;
	display: block;
	color: rgb(48, 48, 48);
	margin-top: 250px;
}

.imagen-grande{
	width: 40%;
	margin: 200px auto 0px ;
	display: block;
	text-align: center;
	border: 1px solid #d68787;
}

.estudios ul li{
	width: 59em;
	font-size: 2em;
	margin-top: 20px;
}

.contact-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 50px auto;
}

.contact-container img{
	width: 600px;
}

.contacto h2{
	color: #434343;
	font-size: 5em;
	text-align: right;
}

.linea{
	border-bottom: 1px solid #a9a9a9;
	width: 300px;
	text-align: right;
	float: right;
}

.contacto p{
	font-size: 2em;
	text-align: right;
	max-width: 600px;
	padding-top: 10px;
}

.container-ubicacion{
	border: 3px solid black;
	margin: 0 auto;
	background: #CDB4DB;
	margin-top: 200px;
	width: 1300px;
	border-radius: 15px;
}

.container-ubicacion h3{
	padding: 50px 0px 0px 120px;
	font-size: 4em;
	color: #434343;
}

.ubicacion-imagen{
	align-items: center;
	display: block;
	text-align: center;
	margin-bottom: 50px;
	
}

.col-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.col-2{
	display: flex;
}

.col-2 li{
	color: #434343;
	font-size: 2.3em;
	font-weight: bold;
	padding: 10px;
	align-items: center;
	display: flex;
}

.col-2 img{
	margin-right: 20px;
	width: 30px;
}

.container-form{
	border: 3px solid black;
	margin: 0 auto;
	background: #CDB4DB;
	margin-top: 200px;
	width: 1300px;
	border-radius: 15px;
}

.container-content-form{
	font-size: 4em;
	color: #434343;
	width: 100%;
	text-align: center;
	padding: 30px;
}

.container-content-form input{
	padding: 15px;
	background: #CDB4DB;
	border: 1px solid rgb(129, 129, 129);
	margin: 15px;
	border-radius: 3px;
}



.form {
	max-inline-size: 550px;
	margin: auto;
  }
  
  .form label {
	display: block;
	margin-block-start: 1em;
	margin-block-end: .5em;
	padding-inline-start: .5em;
	font-size: 0.5em;
  }
  
  .form label span {
	color: #DA1414;
  }
  
  .form input, .form textarea {
	box-sizing: border-box;
	width: 100%;
	font-size: 1.5rem;
	border-radius: .5em;
	border: 1px solid #858C94;
	background: #CDB4DB;
  }
  .form textarea {
	margin-block-end: 2em;
	font-family: inherit;
	padding: 1.5rem;
	margin-left: 15px;
  }
  
  input::-webkit-input-placeholder {
	color: #0F0A0A88;
  }

  #trucazo{
	  opacity: 0;
  }

.background-image-index{
	background-image: url(imagenes/perfil.jpeg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto;
	background-position-x: 150%;
}

.container-blog h2{
	color:#434343;
	font-size: 5em;
	text-align: center;
	width: 85%;
	margin: 0 auto;
}

.blogs{
	margin: 5em;
	padding: 5em;
	width: 65%;
	border: 1px solid #777;
	border-radius: 9px;
	display: flex;
	justify-content: space-evenly;
}

.blogs h3{
	font-size: 3em;
	color: #333;
	padding: 10px;
}

.blogs p{
	font-size: 2em;
	padding: 10px;
}

.blogs a{
	padding: 10px;
	font-size: 2em;
	border: 1px solid #333;
	color: #000;
	text-decoration: none;
	border-radius: 9px;
	float: right;
}

.blogs a:hover{
	transition: all ease 1s;
	background: #333;
	color: rgb(255, 255, 255);
}

#right{
	float: right;
}